$bg-color-white: #f6f6f6;
$color-black: #4a4947;
$color-white: white;
$color-blue: #4681f4;
$color-blue-light: #b3cdff;
$color-blue-hover: #3968c5;
$color-green: #33b249;
$color-green-light: #a7ffb5;
$color-error-red: #ff2c2c;
$color-error-red-light: #fc8181;
$border-radius: 1.2rem;
$default-padding: 4rem 2rem;
$default-gap: 5rem;
$default-transition: 0.3s ease;
$default-font-size: 1.2rem;
$font-size-default: 1.6rem;
$font-family: 'Montserrat', sans-serif;

$box-shadow-default: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
